{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": true,
    "ec": "ec6"
  },
  "globals": {
    "globalThis": false // means it is not writeable
  }
}
